body,html{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

 /* GLOBAL */
 .container{
    width: 80%;
    overflow: hidden;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

h3{
  text-transform: capitalize;
}
h2,h3{
  padding: 0;
  margin: 0;
}

button:hover {
 background: #A9A9A9;
 box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
   0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input:focus {
  border-color: #5bb7d4;
}

.highlight{
 color:#05ff1afa;
 font-weight:bolder;
}



.bolder{
 font-weight: bolder
}


/* HEADER */
header{
    margin: 0;
    padding-top: 20px;
    background: #016699;
    color: #ffffff;
    min-height: 60px;
    width: 100%
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
}

header li{
    display: inline;
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #405d27;

}

header a:hover{
    font-weight: bold;
    color: #f2f2f2;

}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer;
  font-size: inherit;
  text-transform: none;
}

/* HEADER END */

/* FORM */

.form__wrapper{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    text-align: center;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}

.form{
    display: flex;
    width: 100%;
    background: #ffffff;
    justify-content: center;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
    flex-direction: column;

}

.form__header{
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    color: #016699;
    box-shadow: 0 2px 2px #f2f2f2;
}

.form__signup{
    padding: 0px 15px 10px;
}

.form__control {
   margin-bottom: 10px;
 }

 .form__input {
   font-family: inherit;
   padding: 15px 10px;
   width: 80%;
   margin-top: 5px;
   border: none;
   outline: none;
   border: 1px solid rgb(238, 238, 238);
   font-size: 0.9em;
   transition: border 0.5s ease;
 }

 

 .form span {
   margin-bottom: 20px;
   text-align: center;
   font-size: 12px;
   color: #016699;
 }
 .form span a:hover{
     font-weight: bold;
 }

 .button{
   height:38px;
   width: 84%;
   background:#C0C0C0;
   border:0;
   border-radius: 5px;
   color:#000000;
   outline: none;
   cursor: pointer;
   font-weight: bold;
   font-size: 16px;
 }

 /* FOOTER */
 .footer {
    text-align: center;
    background: #016699;
  }
  
  .footer p {
    /* margin-top: 40px; */
    padding: 25px 0 25px 0;
    font-size: 14px;
    color: white;
    margin: 0
  }


/* LOAN PAGE */
  .form #dialog{
      background: #016699;
      color: #ffffff;
      border-radius: 5px;
      display: none;
      margin-bottom: 20px;
      padding: 10px 0 10px 0;
  }

  aside#profile{
    float: left;
    width: 20%;
    background: #016699;
    color: #ffffff;
    margin: 20px 10px 0 15px;
    padding: 10px;
    min-height: 450px;
    border-radius: 5px
  }

  main#main-profile{
    float: right;
    width: 75%
  }

  #sidenav li{
    display: block;
    margin: 10px 0 10px 0;
    padding: 5px 20px 5px 20px;
    background: #C0C0C0;
    border-radius: 3px;


}

#sidenav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

#sidenav a:hover{
    font-weight: bold;
    color:#016699;
}

.current{
    color: #016699;
    font-weight:bolder;

}

footer#loan-footer{
    clear: both;
    position: relative;
    height: 60px;
    margin-top: -15px;
    margin-bottom: -25px;
  }

  .main-header{
    background: #405d27;
    color: #ffffff;
    /* padding: 2px 0 2px 10px; */
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
  }

  .main-header h3{
    margin: 10px;
    padding: 15px;
    text-transform: capitalize;
  }

  .loan-container{
    background: #c92c75b2;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .loan-container .loan-area{
    background: #5bd483;
    color: #000000;
    margin: 18px 10px 10px 10px;
    border-radius: 5px;
    padding: 5px
  
  }

  .loan-container .loan-area h3,
  .loan-container .loan-area p,
  .loan-container .loan-area small{
    margin: 5px 5px 5px 5px;
    padding-top: 10px ;

  }
  .loan-container .loan-area small a{
    margin-bottom: 50px;
    background: #405d27;
    color: #f2f2f2; 
    border-radius: 2px;
    cursor: pointer;
  }

  .loan-container .loan-area small a:hover{
    color: #000000;
    background: #05ff1afa;
  }
  
  #testing{
      width: 84%;
      height: 40px;
      font-size: 16px;
      margin: 25px 0 20px 0;
  }

  

   main#intro{
       background-image: url(img/loan-man.jpg);
       background-position: center;
       min-height: 500px;
       width: 100%;
       color: #016699;
       margin: 0;
       padding-top: 120px;
       background-size: cover
   }

   main#intro #body-header{
       width: 70%;
       min-height: 100px;
       text-align: left;
       margin-left: 150px;
       margin-bottom: 70px
       /* padding: 70px,0,0,90px */
       

   }

   main#intro #body{
       width: 70%;
       text-align: left;
       margin-left: 150px;
       /* margin-top: 60px */
   }
   #body-header h3{
       font-size: 40px;
        margin: 0;
   }

   #body-header h4{
        font-size: 25px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 30px
}

#get-started{
  width: 120px;
  font-size: 16px;
  min-height: 40px;
  border-radius: 5px;
  background: #C0C0C0;
  cursor: pointer;
  color: #000;
}
   #body p{
       font-size: 20px;
       color: #016699
   }

  /* MEDIA QUERY */
  @media(max-width: 768px){
    .form__wrapper, .container,
    main.container.form__wrapper,
    section.form__wrapper .form{
      width: 90%;
      margin-top: 0px;
    }

    header #branding,
     header nav,
     header nav li,
     aside#profile,
     main#main-profile ,
     #main,#intro div, main#intro #body-header,
     main#intro #body{
      float: none;
      text-align: center;
      width: 100%;
    }

    .button{
      min-height: 45px;
    }

    header{
      min-height: 70px;
    }
    header li{
      padding: 0 5px;
    }

    header a{
      font-size: 12px;
      text-transform: capitalize;
    }
    .form{
      margin: 0px;
      width: 100%;
      padding: 0;
    }

    aside#profile{
        min-height: 150px;
        width: inherit;
        margin: 10px  0 0 0;
      }
     
      main#main-profile{
        margin: 0;
      }
      #main .form__wrapper{
        width: 100%;
        margin-top: 0;
      }
      main#intro{
        padding-top: 30px;
        background-position: left
      }
      main#intro #body{
          min-width: 100px;
          padding-top: 20px;
          margin-left: 0px;
      }

      main#intro #body-header{
          min-height: 150px;
          margin-left: 0;
      }

      #body-header h3{
        font-size: 40px;
         margin: 0;
         margin-top: 30px;
    }

    #body-header h4{
        font-size: 25px;
        margin-bottom: 30px;
        margin-top: 20px;
}
   #body p{
       font-size: 22px;
   }
   #get-started{
    width: 120px;
    font-size: 14px;
    min-height: 30px;
  }
      
  }

  @media screen and (min-width: 769px) and (max-width:899px) {
    aside#profile,#intro{
      float: none;
      width: 80%;
      min-height: 130px;
      width: inherit;
    }
    
    main#main-profile,#intro div{
      float: none;
      width: 90%
    }
  }
   
